<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huddleup">
    <!-- Added internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/huddleup_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/white_round_huddleup_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppInformation"></activity>
        <activity android:name=".CreateTeamEventScreen" />
        <activity android:name=".TeamEventScreen" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TimelineScreen" />
        <activity android:name=".TeamSelectScreen" />
        <activity android:name=".TeamScreen" />
        <activity android:name=".TeamCreateScreen" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".ProfileIconSelectScreen" />
        <activity android:name=".MyProfileScreen" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".ForgotPasswordScreen" />
        <activity android:name=".CalenderScreen" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".UnverifiedEmailScreen" />
        <activity android:name=".MessagesScreen" />
        <activity android:name=".SearchScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>